.cloverGreen-f {
    color: #3EA055;
}

.gray-f {
    color: darkslategray;
}

.red-f {
    color: red;
}

.cobaltBlue-f {
    color: #0020C2;
}

.crimson-f {
    color: crimson;
}

.platinum-b {
    background: #E5E4E2;
}

.pink-b {
    background: pink;
}

.yellow-f {
    color: yellow;
}

.white-f {
    color: white;
}