@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: #003699;
  --label-color: #003699;
  --dark-color: #333333;
  --light-color: #ffffff;
  --success-color: #28a745;
  --cox-blue: #3aa8ce;
  --cox-green: #38b27b;
  --table-hdr: gainsboro;
  --table-border: silver;
  --table-row-alt-color: #dbf0f8;
  --default-font-sz: 10pt;
  --label-font-sz: 12pt;
  --btn-font-sz: 9pt;
  --default-grid-spacing: 5px;
  --default-grid-gap: 3px;
  --btn-dis-bkcolor: gray;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--default-font-sz);
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  overflow: none;
}

.btn {
  color: var(--light-color);
  background: var(--cox-blue);
  border-radius: 2px;
  padding: 3px;
  font-size: var(--btn-font-sz);
  border: none;
  transition: opacity 0.2s ease-in;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.btn:disabled {
  background: var(--btn-dis-bkcolor);
}

.btn:hover {
  color: var(--light-color);
  filter: brightness(85%);
}

.btn:hover {
  color: var(--light-color);
  filter: brightness(85%);
}

.bg-bluetogreen {
  background-image: linear-gradient(
    to right,
    var(--cox-blue),
    var(--cox-green)
  );
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  display: inline-block;
  background-color: var(--light-color);
  font-size: var(--grid-font-sz);
  height: 20px;
  margin: 1px 0px 1px 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.label {
  font-size: var(--label-font-sz);
  text-align: right;
}

.label-sm {
  padding-top: 2px;
  padding-right: 4px;
  font-size: var(--default-font-sz);
  text-align: right;
  color: var(--label-color)
}

.data-sm {
  padding-top: 2px;
  padding-right: 4px;
  font-size: var(--default-font-sz);
  text-align: left;
  color: var(--dark-color)
}

.inp-width1 {
  width: 100px;
}

.inp-width2 {
  width: 125px;
}

.inp-width3 {
  width: 150px;
}

.inp-width3 {
  width: 175px;
}

input[type="submit"],
button {
  font: inherit;
}

.editIcon {
  color: var(--cox-blue);
  cursor: pointer;
  padding: 2px;
}

.viewIcon {
  cursor: pointer;
  color: gray;
  padding: 2px;
}

.img-btn {
  cursor: pointer;
  padding: 2px;
  height: 24px;
  width: 24px;
}

.img-btn-label {
  cursor: pointer;
  padding-top: 4px;
  color: var(--dark-color);
  vertical-align: middle;
}

.img-btn-label-dis {
  cursor: not-allowed;
  padding-top: 4px;
  vertical-align: middle;
  color: gray;
}

.program-header1 {
  padding-top: 3px;
  display: grid;
  white-space: nowrap;
  grid-template-columns:  75px 50px 100px 75px 75px 100px;
}

.program-header2 {
  padding-top: 2px;
  display: grid;
  white-space: nowrap;
  grid-template-columns:  75px 250px 115px 250px 75px;
}

.redtxt {
  color: red;
}

.template-search-grid div {
  width: 100%;
}

.spinner {
  width: 200px;
  margin: auto;
  align-items: center;
  display: block;
  text-align: center;
  background-color: transparent;
}

.loader-cont {
  position: absolute;
  z-index: 100;
  color: var(--cox-blue);
  font-size: 14;
  left: 50%;
  padding-top: 15%;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid var(--cox-blue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title-bar {
  background-color: var(--cox-blue);
  border-bottom: solid 1px var(--table-border);
  text-align: center;
  height: 20px;
  color: white;
}

.entry-lbl {
  text-align: right;
  padding-top: 3px;
  padding-right: 4px;
}

.entry-txt {
  text-align: left;
  padding-top: 3px;
}

.alert-msg {
  position: absolute;
  overflow: auto;
  height: 100px;
  width: 300px;
  padding: 3px;
  z-index: 100;
  top: calc(40%- 25px);
  left: calc(40% - 110px);
  border: solid 2px var(--table-border);
  border-radius: 5px;
  padding: 3px;
}

.tabContent {
  padding: 5px;
  height: calc(100vh - 175px);
  overflow: auto;
}

.close-x {
  position: absolute;
  top: 2px;
  right: 3px;
  cursor: pointer;
}

.multiselect-dd {
    position: relative;
    text-align: left;
    width: 95% !important;
}

.multiselect-dd .searchWrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    padding: 0 0 0 5px !important;
    position: relative;
}

.multiselect-dd input {
    background: transparent;
    border: none;
    padding-bottom: 5px;
}

.multiselect-dd .chip { 
	display: none !important;
}

.multiselect-ddsel {
    position: relative;
    text-align: left;
    width: 95% !important;
}

.multiselect-ddsel .searchWrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 20px;
    padding: 0 0 0 5px !important;
    position: relative;
}

.multiselect-ddsel input {
    background: transparent;
    border: none;
    padding-bottom: 5px;
}

.multiselect-ddsel input::placeholder{
  color: green;
}
.multiselect-ddsel .chip { 
	display: none !important;
}

.custom-search-body {
  height: 350px;
  width: 450px;
  padding: 0;
  margin: 0 5px 0 5px;
} 

.custom-search-dlg {
  padding: 5px;
  height: 400px;
  width: 500px;
} 

.custom-search-body select {
  height: 200px;
  width: 100%;
}

.custom-search-body input {
  width: 100%;
}

div[class*=" css-2f4k4l"] {
  -webkit-box-align: center;
  display: grid;
  align-items: unset;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 20px;
  padding: 1px;
}

div[class*=" css-ackcql"] {
  margin: 0;
  padding: 0;
  visibility: visible;
  color: rgb(51, 51, 51);
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0px min-content;
  box-sizing: border-box;
}

.popup-cont {
  position: relative;
  display: inline-block;
}

.popup-menu {
  position: fixed;
  list-style-type: none;
  background: var(--light-color);
  padding: 1px;
  color: var(--dark-color);
  border: 1px solid var(--table-border);
  width: 200px;
}

.popup-menu > li {
  margin: 1px;
  background-color: var(--light-color)
}

.popup-menu > li:hover {
  margin: 1px;
  background-color: var(--table-row-alt-color)
}

.popup-menu > li > a:hover {
  background-color: var(--table-row-alt-color)
}

.popup-menu > li > a {
  text-align: left;
  background: var(--light-color);
  color: var(--dark-color);
  border: none;
  margin: 1px;
  cursor: pointer;
  text-decoration: none;
}