@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --default-font-sz: 10pt;
  --label-font-sz: 12pt;
  --btn-font-sz: 9pt;
  --loader-color: aqua; 
}


html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--default-font-sz);
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  overflow: none;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid var(--loader-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
    height: 30px;
    float: top;
    width: 100%;
}

.footer {
    height: 20px;
    float: bottom;
    width: 100%;
}