@import "qvu-theme.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "colors.css";


html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--default-font-sz);
    background-color: var(--default-background-color);
    color: var(--default-font-color);
    height: 100%;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    border-bottom: solid 1px var(--default-border-color);
    background: var(--header-background);

}

.header .logo img {
    padding-top: 5px;
    padding-left: 10px;
}

.header .logo span {
    padding: 3px;
    vertical-align: bottom;
    font-weight: var(--default-label-font-weight);
    color: var(--default-label-font-color);
    font-size: var(--default-label-font-size);
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .8s linear infinite;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 24px;
    float: bottom;
    width: 100%;
    background: var(--footer-background-color);
    border-top: solid 1px var(--default-border-color);
}

.footer-copyright {
    font-size: var(--footer-font-size);
    color: var(--footer-text-color);
    font-size: var(--footer-font-size) !important;
    padding-left: 10px;
    vertical-align: top;
}

.footer-user {
    font-size: var(--footer-font-size);
    color: var(--footer-text-color);
    font-size: var(--footer-font-size) !important;
    float: right;
    padding-right: 10px;
    vertical-align: top;
}

.splash {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.splash-message {
    padding-left: 25px;
    color: var(--splash-font-color);
    font-size: var(--splash-font-size);
}

.home {
    width: 100%;
    height: 100%;
    background: var(--default-background-color);
    color: var(--default-font-color);
    position: absolute;
    margin-top: 30px;
    top: var(--header-height)
}

.tab-container {
    width: 100%;
    margin-top: 5px;
    height: calc(100% - 60px);
    position: absolute;
    overflow: hidden;
}

.tab-content {
    height: calc(100% - 60px);
    position: relative;
    overflow: auto;
}

img {
    padding: 0;
    margin: 0;
}

.info-message {
    background: var(--info-message-background-color);
    color: var(--info-message-text-color);
}

.success-message {
    background: var(--success-message-background-color);
    color: var(--success-message-text-color);
}

.warn-message {
    background: var(--warn-message-background-color);
    color: var(--warn-message-text-color);
}

.error-message {
    background: var(--warn-message-background-color);
    color: var(--warn-message-text-color);
}

.message-header {
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 5px;
    height: 35px;
    font-size: var(--message-header-font-size);
}

.message-body {
    flex: 1 1 auto;
    position: relative;
    font-size: var(--message-body-font-size);
    padding: 10px
}

.message-title {
    padding: 2px;
    font-size: var(--message-header-font-size);
}

.admin-tab {
    position: absolute;
    height: 100%;
    padding-left: 16px;
    height: 500px;
    white-space: nowrap;
}

.editable-data-list {
    overflow: hidden;
    height: 100%;
    border: solid 1px var(--default-border-color);
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
}

.title {
    text-align: left;
    font-size: var(--default-title-font-size);
    font-weight: var(--default-title-font-weight);
    color: var(--default-title-font-color);
    width: 100%;
    padding: 2px 2px 2px 4px;
    border-bottom: solid 1px var(--default-border-color);
}

.editable-data-list .data-container {
    overflow: auto;
    height: calc(100% - 25px);
}

.icon-s {
    cursor: pointer;
    padding: 2px;
    width: 20px;
}

.icon-m {
    cursor: pointer;
    padding: 2px;
    width: 35px;
}


.label {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    font-size: var(--default-label-font-size);
    font-weight: var(--default-label-font-weight);
    color: var(--default-label-font-color);
}

.display-field {
    display: inline-block;
    padding-left: 5px;
}


.btn-bar {
    display: inline-block;
    text-align: right;
    width: 100%;
    padding-right: 5px;
}

.tb-border {
    border-top: solid 1px var(--default-border-color);
    border-bottom: solid 1px var(--default-border-color);

}

.entrygrid-150-200 {
    display: grid;
    grid-template-columns: 150px 200px;
    margin: 5px;
}

.entrygrid-150-200 input[type=number] {
    width: 100px;
}

#emo-error-msg {
    color: crimson;
}