@import "qvu-theme.css";

.query-results-panel {
    height: 100%;
    width: 100%;
}

.query-results-cont {
    overflow: auto;
    width: 100%;
    height: calc(100% - 35px);
}

.query-results-table {
    border-right: var(--query-results-table-border);
    border-bottom: var(--query-results-table-border);
}

.query-results-table-body {
    height: calc(100% - 30px);
}

.query-results-table-hdr {
    display: grid;
    top: 0;
    position: sticky;    
    grid-template-columns: 0;
    text-align: center;
    color: var(--query-results-table-hdr-forecolor);
    font-size: var(--query-results-table-hdr-fontsize);
    font-weight: var(--query-results-table-hdr-fontweight);
    border-top: var(--query-results-table-border);
    border-bottom: var(--query-results-table-border);
    text-align: center;
    z-index: 10;
}

.query-results-table-hdr > div {
    background-color: var(--query-results-table-hdr-data-bkcolor);
    padding: 2px;
    position: sticky;
    top: 0;
    border-right: var(--query-results-table-border);
}

.query-results-table-hdr > div:nth-child(1) {
    left: 0;
    top: 0;
    position: sticky;
    border-left: var(--query-results-table-border);
    border-right: var(--query-results-table-border);
    background-color: var(--query-results-table-detail-rownum-bkcolor);
    z-index: 20;
}

.query-results-table-det {
    display: grid;
    grid-template-columns: 0;
    color: var(--query-results-table-detail-forecolor);
    font-size: var(--query-results-table-detail-fontsize);
    font-weight: var(--query-results-table-detail-fontweight);
    border-bottom: var(--query-results-table-border);
}

.query-results-table-det > div {
    padding: 2px;
    border-right: var(--query-results-table-border);
}

.query-results-table-det > div:nth-child(1) {
    left: 0;
    position: sticky;
    border-left: var(--query-results-table-border);
    border-right: var(--query-results-table-border);
    background-color: var(--query-results-table-detail-rownum-bkcolor);
}

.query-results-table-body > div:nth-child(odd) {
    background-color: var(--query-results-table-detail-row-bkcolor1);
}

.query-results-table-body > div:nth-child(even) {
    background-color: var(--query-results-table-detail-row-bkcolor2);
}

.query-results-footer {
    font-size: var(--footer-font-size);
    border: none;
    white-space: nowrap;
}

.page-input {
    float: left;
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
    user-select: none
}

.page-input select {
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
}

.page-input input {
    margin-left: 10px;
    margin-right: 5px;
    height: 25px;
    text-align: center;
}


