:root {
    --default-background-color: white;
    --default-font-color: darkslategray;
    --default-font-size: 11pt;
    --default-label-font-size: 11pt;
    --default-label-font-weight: 600;
    --default-label-font-color: darkslategray;
    --separator-color: darkslategray;
    --default-border-color: #dee2e6;
    --default-title-font-size: 14pt;
    --default-title-font-weight: 500;
    --default-title-font-color: darkslategray;
    --default-font-weight: 400;
    --sql-clause-name-color: darkGreen;
    --sql-clause-name-font-size: 12pt;
    --sql-clause-name-font-weight: 600;
    
    --sql-clause-column-color: darkBlue;
    --sql-clause-column-font-size: 12pt;
    --sql-clause-column-font-weight: 600;

    --sql-clause-oper-color: #FFC000;
    --sql-clause-oper-font-size: 12pt;
    --sql-clause-oper-font-weight: 600;

    --header-background: linear-gradient(90deg, rgba(0,245,255,1) 0%, rgba(66,209,226,1) 0%, rgba(12,22,87,1) 100%, rgba(0,0,0,1) 100%);;
    
    --footer-background-color: gainsboro;
    --footer-text-color: darkslategray;
    --footer-font-size: 10pt;

    --btn-font-sz: 9pt;

    --info-message-background-color: cornsilk;
    --success-message-background-color: #228b22;
    --warn-message-background-color: yellow;
    --error-message-background-color: red;
    
    --info-message-text-color: darkslategray;
    --success-message-text-color: white;
    --warn-message-text-color: darkslategray;
    --error-message-text-color: white;

    --message-header-font-size: 12pt;
    --message-body-font-size: 12pt;
    
    --splash-font-size: 30pt;
    --splash-font-color: #2370AC;
    
    --small-font-size: 8pt;
    
   --query-results-table-border: solid 1px darkslategray;
   --query-results-table-hdr-data-bkcolor: #85C1E9;
   --query-results-table-hdr-forecolor: #2F4F4F;
   --query-results-table-hdr-fontsize: 12pt;
   --query-results-table-hdr-fontweight: 600;

   --query-results-table-detail-row-bkcolor1: #FFFFFF;
   --query-results-table-detail-row-bkcolor2: #F0FFFF;
   --query-results-table-detail-forecolor: #2F4F4F;
   --query-results-table-detail-fontsize: 11pt;
   --query-results-table-detail-fontweight: 400;
   --query-results-table-detail-rownum-bkcolor: #F5F5F5;
   
   --popup-hover-background: #DCDCDC;
   
   --report-component-outline: dashed 1px gainsboro;
   --report-component-outline-selected: dashed 1px crimson;
   
   --default-burgerbar-color: #0020C2;
   --default-burgerbar-hover-color: #a90000;
   --context-menu-background-color: #F5F5F5;
   --context-menu-background-hover-color: #3f4847;
   --context-menu-font-hover-color: white;
   --context-menu-font-size: 14px;
   --context-menu-font-color: black;

}
