:root {
    --default-background-color: white;
    --default-font-color: darkslategray;
    --default-font-size: 10pt;
    --default-border-color: lightsteelblue;
    --default-label-font-size: 10pt;
    --default-label-font-weight: 600;
    --default-label-font-color: darkslateblue;
    --default-border-color: darkslategray;
    --default-title-font-size: 14pt;
    --default-title-font-weight: 500;
    --default-title-font-color: darkslategray;

    --header-background: linear-gradient(90deg, rgba(0,245,255,1) 0%, rgba(66,209,226,1) 0%, rgba(12,22,87,1) 100%, rgba(0,0,0,1) 100%);;
    
    --footer-background-color: gainsboro;
    --footer-text-color: darkslategray;
    --footer-font-size: 10pt;

    --btn-font-sz: 9pt;

    --info-message-background-color: cornsilk;
    --success-message-background-color: green;
    --warn-message-background-color: yellow;
    --error-message-background-color: red;
    
    --info-message-text-color: darkslategray;
    --success-message-text-color: white;
    --warn-message-text-color: darkslategray;
    --error-message-text-color: white;

    --message-header-font-size: 12pt;
    --message-body-font-size: 12pt;
    
    --splash-font-size: 30pt;
    --splash-font-color: "#2370AC";
}
