.sizing-tl {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sizing-rect-width);
    height: var(--sizing-rect-width);
    background: transparent;
    z-index: 10;
}

.sizing-tl:hover {
    background: var(--separator-color);
    cursor: pointer;
}

.sizing-tr {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--sizing-rect-width);
    height: var(--sizing-rect-width);
    background: transparent;
    z-index: 10;
}

.sizing-tr:hover {
    background: var(--separator-color);
    cursor: pointer;
}

.sizing-bl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--sizing-rect-width);
    height: var(--sizing-rect-width);
    background: transparent;
    z-index: 10;
}

.sizing-bl:hover {
    background: var(--separator-color);
    cursor: pointer;
}

.sizing-br {
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--sizing-rect-width);
    height: var(--sizing-rect-width);
    background: transparent;
    z-index: 10;
}

.sizing-br:hover {
    background: var(--separator-color);
    cursor: pointer;
}

.resizer {
    display: none;
    background: transparent;
    position: absolute;
    cursor: crosshair;
    border: var(--sizing-border);
    z-index: 100
}
