/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
.query-select-tree {
  background: #242322;
  font-family: monospace;
  font-size: 16px;
  color: white;
  user-select: none;
  padding: 20px;
  border-radius: 0.4em;
}

.query-select-tree .tree,
.query-select-tree .tree-node,
.query-select-tree .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.query-select-tree .tree-branch-wrapper,
.query-select-tree .tree-node__leaf {
  outline: none;
  outline: none;
}

.query-select-tree .tree-node {
  cursor: pointer;
}

.query-select-tree .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.query-select-tree .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.query-select-tree .tree .tree-node--selected {
  background: rgba(48, 107, 176);
}

.query-select-tree .tree-node__branch {
  display: block;
}

.query-select-tree .icon {
  vertical-align: middle;
  padding-right: 5px;
}
